/quant_llama_state.pt
/ppl_log.txt
/test.py
/Smoothquant/test.py
/Smoothquant/GroupQuant/cuda_test.py
/Smoothquant/GroupQuant/build
/Smoothquant/GroupQuant/dist
/Smoothquant/GroupQuant/GroupQuant.egg-info
/datasets
/Smoothquant/__pycache__
/act_scales/__pycache__
/.vscode
/act_scales/llama-2-7b.pt
/Smoothquant/GroupQuant/__pycache__
/Smoothquant/GroupQuant/test_group_quant_algorithm.py
/VQquant/__pycache__
__pycache__/